:root {
    --sd-color-primary: #f37726;
    --sd-color-primary-highlight: #da864e;
    --sd-color-secondary: #267bf3;
    --sd-color-secondary-highlight: #4e88da;
}

.bg-jb-one {
    background-color: #52d16f3b;
}

.bg-jb-two {
    background-color: #e7dd7b73;
}

.bg-jb-three {
    background-color: #e7b07b96;
}


/* -------------------------------------------
            SIDE NAV OPTIONS
------------------------------------------- */

.bd-sidebar-primary {
	/*background-color: #f7f7f7;*/
    border-right-width: 1px;
}


/* -------------------------------------------
            PAGE LAYOUT OPTIONS
------------------------------------------- */


/* shift left nav to all the way to left (more page space)   */

.bd-container {
    justify-content: center !important;
    max-width: 100% !important;
}

.logo {
    max-width: 350px !important;
}

.bd-page-width {
    width: 100% !important;
    max-width: 1680px !important;
}

.bd-sidebar-primary {
    width: 350px !important;
    flex-direction: unset !important;
}