p {
/*text-align: justify;*/
}

p a {
/*color: #049ed1 !important;*/
}

p a:hover {
/*color: black !important;*/
}


.md-content__button {
display: none;
}


/* Code blocks */
pre, code, .md-source {
    background-color: #e3fffe !important;
}

 
/* tables on the site have excessive spacing */

.table p {
	margin-bottom: 0;
}
.table td {
    padding-bottom: 0.25rem;
    padding-top:    0.25rem;
    padding-left:   0.5rem;
    padding-right:  0.5rem;
}


/* -------------------------------------------
            SIDE NAV OPTIONS
------------------------------------------- */

#site-navigation {
	background-color: #f7f7f7;
    border-right-width: 1px;
}


.bd-sidebar-primary {
    max-width: 350px !important;
  }

/* -------------------------------------------
            PAGE LAYOUT OPTIONS
------------------------------------------- */


/* shift left nav to all the way to left (more page space)   */

.bd-page-width {
    width: 2900px !important;
    max-width: 100% !important;
}

.container-xl {
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 1800px;
}


